.card {
  display: grid;
  width: 400px;
  height: 200px;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px 50px 50px;
  border: 5px outset rgba(133, 94, 68, 0.945);
  border-radius: 20px;
}
.card h3 {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  height: 40px;
}
.card .season {
  grid-column: 1;
  grid-row: 2/5;
  width: 150px;
  height: 150px;
}
.card .season img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}
.card .duration {
  display: block;
  margin-top: 25px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.barcontainer {
  margin-top: 30px;
  margin-left: 77px;
  grid-column: 2/3;
  grid-row: 3/4;
  width: 50px;
  height: 11px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card p:nth-child(1) {
  grid-column: 2/3;
  grid-row: 4/5;
}
.square {
  width: 9px;
  height: 9px;
  background-color: #08d6f6;
}

/*media queries */
@media screen and (max-width: 800px) {
  .card {
    display: grid;
    width: 300px;
    height: 200px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px 50px 50px;
    border: 5px outset rgba(133, 94, 68, 0.945);
    border-radius: 20px;
  }
}
