.search_bar {
  width: 100%;
  position: relative;
  display: flex;
}

.search_input {
  width: 100%;
  border: 3px solid #04aa6d;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #151616;
  font-size: 22px;
}

.search_btn {
  width: 40px;
  height: 35px;
  border: 1px solid #04aa6d;
  background: #04aa6d;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*media queries do the wrap   60% and the search button smaller*/
@media screen and (max-width: 800px) {
  .wrap {
    width: 60%;
  }
  .search_input {
    height: 14px;
  }
  .search_btn {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}
